@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  margin: 0;
}

@media screen and (max-width: 600px) {
  .phone-hidden {
    width: 0;
    display: none;
  }
  .phone-flex-col {
    /* flex-direction: column;
        align-items: center;
        justify-content: center; */
    place-content: center;
    display: grid;
  }
  svg {
    stroke: white;
  }
}

.glass-effect {
  /* From https://css.glass */
background: rgba(0, 0, 0, 0.15);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
}
